# NOWPayments
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=

# GreenInvoice (Morning)
GREEN_API_KEY=
GREEN_API_SECRET=

# Google Sheets
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=

# App
BASE_URL=https://now-payment-fronted.onrender.com
BACKEND_URL=https://now-payment-backend.onrender.com
